<navbar></navbar>


<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
<p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>

<!-- Semantic UI -->
<div class="ui text container">
  <div class="ui middle centered grid">
    <div class="sixteen wide column center aligned" style="max-width: 30em;">
      <h2 class="ui teal image header">
        <div class="content">
          Login
        </div>
      </h2>
      <form class="ui form" name="form" ng-submit="vm.login(form)" ng-class="{true: 'loading'}[vm.loading]" novalidate>
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input" ng-class="{true: 'field error'}[vm.errors.other]">
              <i class="mail icon"></i>
              <input type="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" required/>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input" ng-class="{true: 'field error'}[vm.errors.other]">
              <i class="lock icon"></i>
              <input type="password" name="password" class="form-control" ng-model="vm.user.password" placeholder="Senha" ng-minlength="3" required />
            </div>
          </div>
          <button class="ui fluid large teal submit button" type="submit">
            Entrar
          </button>
        </div>
        <div class="ui error message"></div>
      </form>
      <div class="ui error message" ng-show="vm.errors.other">
        <ul class="list">
          <li class="help-block" ng-show="vm.errors.other">{{ vm.errors.other }}</li>
        </ul>
      </div>
      <div class="ui message">
        Ainda não possui uma conta? <a class="btn btn-default btn-lg btn-register" ui-sref="signup">Cadastre-se</a>
      </div>

    </div>
  </div>
</div>