<!--<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">dev1</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>-->

<div class="ui inverted fixed menu" ng-controller="NavbarController">
  <div class="ui container">
    <div class="header item" ng-show="nav.isLoggedIn()">
      {{ nav.getCurrentUser().name }}
    </div>
    <a class="header item" ng-hide="nav.isLoggedIn()" ui-sref="main">
      Smart Clinik
    </a>
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="painel">
      <i class="dashboard icon"></i> Painel
    </a>
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="agenda">
      <i class="calendar outline icon"></i> Agenda
    </a>
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="paciente">
      <i class="users icon"></i> Pacientes
    </a>
    <a class="item" ng-show="nav.isLoggedIn()" ui-sref="config">
      <i class="setting icon"></i>
    </a>
    <div class="right menu">
      <a class="item" ng-show="nav.isLoggedIn()" ui-sref="logout">
        <i class="sign out icon"></i> Sair
      </a>
      <a class="item" ng-hide="nav.isLoggedIn()" ui-sref="login">
        <i class="sign in icon"></i> Login
      </a>
      <div class="item" ng-hide="nav.isLoggedIn()">
        <button class="ui inverted orange button" ui-sref="signup">Cadastre-se</button>
      </div>
    </div>

  </div>
</div>
<div class="navbar padding"></div>